asgiref==3.6.0
attrs==23.1.0
autopep8==2.0.2
brotlipy==0.7.0
cachetools==5.3.1
certifi==2022.12.7
cfgv==3.3.1
coreapi==2.3.3
coreschema==0.0.4
cryptography==41.0.7
defusedxml==0.7.1
Deprecated==1.2.13
Django==4.2.7
django-rest-swagger==2.2.0
djangorestframework==3.14.0
drf-spectacular==0.26.2
drf-yasg==1.21.5
django-environ==0.10.0
psycopg2==2.9.6
channels==4.0.0
autobahn==23.6.2
automat==22.10.0
constantly==23.10.4
daphne==4.0.0
hyperlink==21.0.0
incremental==22.10.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pyopenssl==23.3.0
service-identity==23.1.0
six==1.16.0
twisted==23.10.0
txaio==23.1.1
typing-extensions==4.8.0
zope-interface==6.1
channels_redis==4.1.0
msgpack==1.0.7
redis==5.0.1
django-cors-headers==4.3.1